{% extends '../base.html' %}
{% load static %}

{% block title %}
Basket Summary
{% endblock title %}

{% block content %}
<main class="pt-5">
    <div class="container">
        <h1 class="h5">Shopping Basket</h1>
        {% for item in basket %}
        {% with product=item.product %}
        <div data-index="{{product.id}}" class="row mb-4 border product-item">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block p-1" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <a class="text-decoration-none text-reset" href="{{ product.get_absolute_url }}">
                    <h1 class="mb-0 h4">{{ product.title }}</h1>
                </a>
                <p> <span class="lead">{{ product.author }}</span> (Author)</p>
                <p>{{ product.description | slice:":355"}}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Hardback</div>
                            <div class="col-6 text-end">
                                <span class="h4 fw-bold">$ {{item.price}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <select id="select{{product.id}}">
                                    <option selected>{{item.qty}}</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-outline-secondary btn-sm update-button"
                                    id="update-button" data-index="{{ product.id }}" value="{{product.id}}">
                                    Update
                                </button>
                                <!-- <span class="mt-5" ></span> -->
                                <button type="button" class="my-sm-1 btn btn-outline-danger btn-sm delete-button"
                                    id="delete-button" data-index="{{ product.id }}" value="{{product.id}}">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        <!-- TODO: Update product price from session on deleting an item. -->
        <div class="col-12 text-end">
            <div class="h6 fw-bold">Sub Total: $<span id="subtotal"> {{ basket.get_total_price }}</span></div>
        </div>
    </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
    // Delete Item
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_delete" %}',
            data: {
                productid: $(this).data('index'),//$('#delete-button').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {
                $('.product-item[data-index="' + prodid + '"]').remove();
                document.getElementById('subtotal').innerHTML = json.subtotal
                document.getElementById('basket-qty').innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) { },
        });
    });

    // Update Item
    $(document).on('click', '.update-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_update" %}',
            data: {
                productid: $(this).data('index'),//$('#delete-button').val(),
                productqty: $('#select' + prodid + ' option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {
                document.getElementById('basket-qty').innerHTML = json.qty
                document.getElementById('basket-qty').innerHTML = json.qty
                document.getElementById('subtotal').innerHTML = json.subtotal
            },
            error: function (xhr, errmsg, err) { },
        });
    });
</script>
{% endblock scripts %}