{% url 'home-view' as path_to_home_view %}
{% url 'login-view' as path_to_login_view %}
{% url 'logout-view' as path_to_logout_view %}

{% url 'products:product-list' as path_to_performance %}
{% url 'products:add-purchase-view' as path_to_adding_records %}
{% url 'products:sales-view' as path_to_sales_view %}

{% url 'customers:main-customers-view' as path_to_main_customers_view %}

{% url 'csvs:upload-view' as path_to_upload_csv %}

<div class="ui secondary pointing menu">
    <a href="{{ path_to_home_view }}" class="{% if request.path == path_to_home_view %} active {% endif %} item">
        Home
    </a>
    {% if request.user.is_authenticated %}
    <a href="{{ path_to_performance }}" class="{% if request.path == path_to_performance %} active {% endif %} item">
        Performance
    </a>
    <a href="{{ path_to_sales_view }}" class="{% if request.path == path_to_sales_view %} active {% endif %} item">
        Sales
    </a>
    <a href="{{ path_to_main_customers_view }}" class="{% if request.path == path_to_main_customers_view %} active {% endif %} item">
        Customers
    </a>
    <a href="{{ path_to_adding_records }}"
        class="{% if request.path == path_to_adding_records %} active {% endif %} item">
        Add records
    </a>
    <a href="{{ path_to_upload_csv }}" class="{% if request.path == path_to_upload_csv %} active {% endif %} item">
        Upload file
    </a>
        <div class="right menu">
            <a href="{{ path_to_logout_view }}" class="ui item">
                Logout
            </a>
        </div>
    {% else %}
    
    <div class="right menu">
        <a href="{{ path_to_login_view }}" class="{% if request.path == path_to_login_view %} active {% endif %} ui item">
            Login
        </a>
    </div>
    {% endif %}

</div>