{% extends 'base.html' %}

{% block title %} Performance {% endblock title %}

{% block content %}


<div class="ui modal mymodal">
    <div class="header">
        <h1> Price Data </h1>
    </div>
    <div class="ui container">
        <ul>
            <li><strong>Count: </strong>{{ price.count }}</li>
            <li><strong>Mean: </strong>{{ price.mean|floatformat }}</li>
            <li><strong>Medain: </strong>{{ price.median }}</li>
            <li><strong>Min: </strong>{{ price.min }}</li>
            <li><strong>Max: </strong>{{ price.max }}</li>
            <li><strong>Std Dev: </strong>{{ price.std|floatformat }}</li>
        </ul>
    </div>
</div>


<div>
    {% if error_message %}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            {{ error_message }}
        </div>
    </div>
    {% endif %}

    {% if request.POST %}
    {% if graph %}
    <div class="block-center">

        <img src="data:image/png;base64, {{graph | safe}}">

    </div>
    {% endif %}

    {% endif %}

    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        <div class="three field">
            <label>Choose a chart type: </label>
            <div class="ui selection dropdown">
                <input type="hidden" name="sales">
                <i class="dropdown icon"></i>
                <div class="default text">----</div>
                <div class="menu">
                    <div class="item" value="bar">Bar Plot</div>
                    <div class="item" value="line">Line Plot</div>
                    <div class="item" value="count">Count Plot</div>
                </div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Date From: </label>
                <input type="date" name="date_from">
            </div>
            <div class="field">
                <label>Date To: </label>
                <input type="date" name="date_to">
            </div>
        </div>
        <div class="block-center">
            <button type="submit" class="ui primary button">Select</button>
        </div>
    </form>
    <div class="block-center">
        <button class="ui secondary button" id="modal-btn">See Summary</button>
        <br>
        <a href="{% url 'products:add-purchase-view' %}" class="ui positive button">Add records</a>
    </div>

</div>

{% endblock content %}